@import url(/21-academia/styles/navegacion.css);
@import url(/21-academia/styles/ps_primera_pregunta.css);
@import url(/21-academia/styles/rutas_aprendisaje.css);
@import url(/21-academia/styles/carapteristicas.css);
@import url(/21-academia/styles/footer.css);
@import url(/21-academia/styles/cursos.css);
@import url(/21-academia/styles/como_son_los_cursos.css);




body{
    --fondo: #333940;
    --fondo_secundario: #000000;
    --color_letra_:rgb(195, 208, 229);
    --color_letra_2:rgb(0, 0, 0);

    margin: 0;
    padding: 0;
    
    background-color: var(--fondo);
    color: var(--color_letra);
    
    font-size: 16px;

    & .contenedor_principal{
        margin: 4em auto 0 auto;

        width: 70%;
        height: auto;
        max-width: 1500px;
        min-width: 900px;

        border: 0.1em solid var(--color_borde);
    }
}