/* Primera secion del footer contine cajas verticales */
.footer_pp{
    padding: 0 2em;
    width: 100%;
    display: flex;
    justify-content:space-around;
    gap: 1em;
    /* Caja que contiene los textos verticales */
    .caja_tf{
        padding: 1em;
        width: auto;
        p{
            line-height:normal;
            color: gray;
            span{
                line-height: 2em;
                color: black;
            }
            /* Modifica el titulo de las tres cjas verticales */
            .medio{
                font-weight: bold;
            }
            /* Modifica las imagens de de los medios pagos */
            .img_f{
                margin:0.5em 0;
                width: 10em;
                height: auto;
                border: 0.01em solid green;
            }
        }
    }
}
/* parte dos del fotter horizontal{ */
.s2f{
    padding: 1em;
    text-align: center;
    p{
        color: gray;
    }
}