

/* Titilo h2 "Rutas de aprendisake" */
.titulo_{
    --fondo: #333940;
    --fondo_secundario: #000000;
    --fondo_terciario: white;
    --color_letra_1:white;
    --color_letra_2:rgb(0, 0, 0);
    --borde_1:white;
    --borde_2:black;

    margin: 2em 0;
    padding: 0.5em;
    
    font-size: 2em;
    text-align: center;

    color: var(--color_letra_2);
    background-color: var(--fondo_terciario);
} 