/* Contiene todos los elemetos productso de la segunda secion */
.segunda_secion{
    padding: 3em;
    text-align: center;
    /* Modifica el titulo */
    h2 {
        font-size: 3em;
        font-weight: bold;
    }
    p {
        line-height: 2em;
        font-size: 1.5em;
        margin-bottom: 2em;
    }
    /* Contiene todos los articulos  */
    .caja_productos{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        background-color: rgb(255, 255, 255);
        gap: 2em;
        /* Contiene la imagen y la info */
        .producto{
            margin: 1em 0;
            width: 20%;
            min-width: 25em;
            height: auto;
            border: 0.01em solid gray;
            border-radius: 0.4em;
            cursor:pointer;
            text-decoration: none;
            transition: all 0.3s;
            /* imagen  */
            .img_producto{
                padding: 1em;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            .info_producto{
                text-align:left;
                padding: 1em;
                h5 {
                    line-height: 0.5em;
                    color: black;
                }
                /* Carapteristicas del producto */
                p{
                    margin-bottom: 0;
                }
                /* Mofifica el precio de el producto */
                h4 {
                    font-weight: bolder;
                    line-height: 2em;
                }
            }
        }
    }
} 
/* secion anuncios */
.anuncios{
    margin: 3em 0;
    width: 100%;
    height:auto;

    background-image: url(../img/anuncios.jpg);
    object-fit: contain;
    background-size: cover;
    background-position:top 85% center;
    /* caja que contiene todos los textos qu estan en el anuncio */
    .info_anuncios{
        padding: 2em 2em;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items:flex-end;
        text-align: right;
        /* Modifica primer linea de texto */
        h3{
            color: white;
            line-height: 3em;
        }
        h2 {
            font-size: 3em;
            color: white;
            line-height: normal;
            font-weight: bold;

            /* Modifica letar color ropja */
            span{
                color: red;
                font-size: 1em;
                font-weight: bold;
            }
        }
        /* "vER MAS" */
        button{
            margin-top: 2em;
            padding: 1em;
            width: 10em;
            font-size: 1em;
            cursor: pointer;
            background-color: red;
            color: white;
        }
    }
}
/* Secion contacto */
.contacto{
    margin-bottom: 3em;
    padding: 2em;
    width: 100%;
    height: auto;
    line-height: 5em;
    font-size: 1.5em;

    background-color: rgb(3, 9, 93);
    
    h3{
        color: white;
        line-height: normal;

    }
    p{
        color: white;
        line-height: normal;
        span{
            font-size: 1em;
        }
    }
    /* Espacio para ingresar correo electroinico */
    input{
        width: 60%;
        max-width: 50em;
        padding: 1em;
    }
    button{
        padding: 1em 1em;
        background-color: green;
        color: white;
        cursor: pointer;
        transform:  all 1s;
    }

}
